.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-style: double;
    text-align: center;
}

.mine {
    background-color: red;
}

.hidden {
    background-color: gray;
}

.no-mine {
    background-color: green;
}