.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-style: double;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hidden {
    background-color: gray;
}

.mine {
    background-color: red;
}

.explosion {
    background-color: yellow;
}

.empty {
    background-color: white;
}

.proximity {
    background-color: white;
    color: blue;
}

.flagged {
    background-color: pink;
}

.wrong {
    background-color: deeppink;
}